[2021-10-25 21:21] leerob opened #4 "Update UI"
Let's make sure this points to this repo and all clone and deploy buttons work

<img width="1331" alt="CleanShot 2021-10-25 at 16 20 55@2x" src="https://user-images.githubusercontent.com/9113740/138772788-9e0b6c70-5783-4a12-8f78-0966384c40ca.png">

[2021-10-26 01:51] leerob opened #7 "Update to new API"
And make sure the READMEs are updated too with code snippets e.g. https://github.com/vercel/examples/tree/main/edge-functions/json-response

[2021-10-26 12:42] #4 closed, assigned to nobody

[2021-10-26 13:19] #7 closed, assigned to nobody

[2021-10-27 11:37] carlosagsmendes opened #19 "Server side analytics"
Hi, can you point me to the server-side analytics example?

Thanks in advance

[2021-10-28 11:20] davodesign84 opened #21 "JWT Auth example"
when implementing the jwt auth example in my app i get the following in the verce dev logs: `'eval' not allowed in Middleware pages/_middleware`

This does not seem to happen with the example itself but the error message is not particularly clear about what is causing the issue. Any pointers?

[2021-10-29 14:13] ats1999 opened #23 "There is not much documentation about with javasccript for middleare edge nextjs 12"

[2021-10-29 14:36] marcofranssen opened #24 "edge function geo is not working (undefined values)"
Middleware in my api folder.

[code]

Logs from Vercel.

[code]

What am I missing?

The request is triggered via the CookieConsent `consentTypeRequired` function.

[code]

Is there anything I could simplify? Currently I have a fallback in the ip-info api that uses external services to determine the geo. However that causes initial delays.

[2021-10-29 18:24] sadiquekp commented on #23
correct, how can I set middleware for specific routes only ?

[2021-10-29 22:48] mmmeff commented on #23
Yeah, having a hard time figuring out how these are supposed to be used as well.

Can't reason about how to add a header to a page response. The example has a completely empty response being returned. Instead, I want to add a header to every page's response...

[2021-10-29 23:54] leerob commented on #23
Are you saying you want plain JavaScript and not TypeScript?

Did you see this? You can return right here with the `null` to just add headers to the response: https://github.com/vercel/examples/blob/main/edge-functions/add-header/pages/_middleware.ts#L13

[2021-10-31 12:55] nyg commented on #23
@mmmeff You can do it like this:

[code]

`.next()` adds a custom header to the response which will ensure it is not returned immediately to the client (but pages/api will be executed).

[2021-11-01 00:46] leerob opened #27 "Add more A/B testing examples"
- AB Tasty
- Featureflow
- LaunchDarkly
- Optimizely
- Split
- Unleash

[2021-11-01 09:57] KATT opened #28 "i18n with Next.js' built-in i18n?"
The edge-function [example using i18n](https://github.com/vercel/examples/tree/main/edge-functions/i18n) is not using the normal [Internationalized Routing](https://nextjs.org/docs/advanced-features/i18n-routing) but rather a custom file route-based approach.

Will edge functions support "proper" i18n? If so, is there a timeline?

I'm evaluating if it's worth rewriting everything using this EF app

[2021-11-04 09:38] judewang opened #32 "Cannot deploy "Basic Auth Password Protection" example to Vercel"
### Problem

I copied and pasted the `_middleware.ts` from example repo to my Next project, everything worked fine on development environment, and I can run `yarn build` successfully. When trying to deploy to Vercel, I kept getting an error said `An unexpected internal error occurred`, then the deploy got failed. The error happened right after `Uploading build outputs...`.

I found the [official e

[2021-11-04 16:03] juanantona commented on #32
I was having a similar issue a few hours ago and finally, I was able to deploy it

[2021-11-04 17:05] judewang commented on #32
It worked now, thanks.

[2021-11-04 17:05] #32 closed

[2021-11-05 13:32] ali-alhussain commented on #23
@leerob For me, yes I want to know if I can use Javascript instead of Typescript?

And is there any examples for it?

[2021-11-05 14:25] johnrackles opened #33 "jwt-authentication example"
When I try to run the example locally, I get:

[code]

Oddly enough, when I deploy it everything seems to work fine. Any Ideas how that happens? I checked, both vercel and my local machine are on node 14.18.1

[2021-11-05 16:42] panva commented on #33
This is due to the `vm` module isolation, the [Indexed Collections](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects#indexed_collections) are not shared between where libraries are required/imported and the execution context.

I've opened an issue about it https://github.com/vercel/next.js/issues/30477

[2021-11-06 03:38] leerob commented on #23
Yes, you can use JavaScript instead of TypeScript. TS is a superset of JS, so you can just remove the typings and TS specific code on any example.

[2021-11-06 03:39] leerob commented on #23
We will be continuing to make examples in TypeScript, since you can remove the typings to get JavaScript, versus the inverse where you might not understand how to correctly type the code.

[2021-11-06 03:39] #23 closed

[2021-11-07 13:17] arendondiosa opened #34 "[Question] geolocation example is not working"
Hi, I'm testing [this example](https://github.com/vercel/examples/tree/main/edge-functions/geolocation) but the result is the default values (see image)

![Screen Shot 2021-11-07 at 8 07 44](https://user-images.githubusercontent.com/14989202/140646450-0656a672-5ada-4f57-8a0e-49c989766132.png)

I used my local environment and the option to deploy using vercel.com (https://geolocation-beta.vercel.ap

[2021-11-07 13:23] ali-alhussain commented on #23
@leerob thanks for your quick reply!

[2021-11-08 22:48] lfades opened #35 "Authzed example"
Website: https://authzed.com/blog/user-defined-roles/

Some useful links:
- [Modeling GitHub in Authzed](https://www.youtube.com/watch?v=x3-B9-ICj0w)
- [Blog post about user defined roles](https://authzed.com/blog/user-defined-roles/)

[2021-11-08 22:51] lfades opened #36 "Real time collaboration example"
It could be something simple as just showing cursors and being able to write or paint something, or more complicated as a video game.

Here are some open source tools that could be used to build it (because real time is hard, we shouldn't build it ourselves)

- https://docs.yjs.dev/
- https://fluidframework.com/
- https://replicache.dev/

Next.js Live uses Replicache for its realtime capabilities,

[2021-11-09 02:46] lfades opened #37 "Infinite pagination example"
A clone of vice.com would be great.

[2021-11-09 02:48] lfades opened #38 "Add contribution docs"
We need to talk about all the things to do before adding a new example, like using the UI package, adding the demo URL, and other things that might be important and can help us when doing PR reviews

[2021-11-09 03:01] lfades opened #39 "Add missing deployment to PostHog example"
The example was added in: https://github.com/vercel/examples/pull/20

It doesn't have a deployment yet.

[2021-11-09 06:26] judewang commented on #34
I have the same issue, too. I followed the example and deployed it to Vercel, and I found `req.geo.country` was `undefined`.

[2021-11-09 06:28] judewang commented on #24
The same as #34

[2021-11-09 06:40] danestves commented on #34
As i understand the geo object is available only for paid plans on Vercel

[2021-11-09 07:51] judewang commented on #34
@danestves WOW, I can confirm the example works correctly after I transferred it to my team project. Thank you.

[2021-11-09 07:52] judewang commented on #24
Should work correctly within a paid plan.

[2021-11-09 15:42] leerob commented on #24
This is being changed this week, should be resolved soon!

[2021-11-09 15:43] leerob commented on #34
Duplicate of https://github.com/vercel/examples/issues/24.

We're making `geo` available for all plans this week, sorry about this! Was not intended.

[2021-11-09 15:43] #34 closed

[2021-11-09 18:46] Manikanta-20 opened #41 "Prop href did not match. Server & Client"
@lfades

### Developed Custom  middleware based on cookies

Passing data from one page to another page using router.push.When  accessing using useRouter() in another page.

Getting below message in browser console

name=sai&buildingName=ss&no=&street=555555#"

**_Below code of middleware function_**

[code]

How fix above issue?

[2021-11-09 22:38] fredericrous commented on #19
I tried to use firebase to do serverside analytics but I didn't succeed.
Here's my code: (of course we can't use firebase-admin because it depends on fs module)

[code]

if I `await` the function `logView`, the request hangs forever

there is no error logged in the console

[2021-11-10 17:33] goncy opened #42 "Add gray-matter information to each example"
Add the following information to each README.md in examples:

* Title
* Description
* Tags
* Demo URL
* Deploy URL

[2021-11-10 17:35] goncy opened #43 "Add function to parse all gray-matter information and return it as an object"
Read information from https://github.com/vercel/examples/issues/42 and return it so we can use it in other places.

Place that code inside `packages/meta`

[2021-11-10 21:52] leerob commented on #24
This should be fixed! 🎉

[2021-11-10 21:52] #24 closed

[2021-11-11 09:08] johnrackles commented on #33
For anyone stumbling upon this, it's fixed in v12.0.4-canary.4

[2021-11-11 09:08] #33 closed

[2021-11-15 23:34] ihmpavel opened #45 "Query params filter infinite redirect"
Query params filter has infinite redirection loop

Edge function folder: https://github.com/vercel/examples/tree/main/edge-functions/query-params-filter

Bug:
Loading URL from readme - https://edge-functions-query-params-filter.vercel.sh/?a=b&allowed=test leads to an infinite redirection loop

OS: Windows 10, latest Chrome, Edge
![image](https://user-images.githubusercontent.com/42217494/141869322

[2021-11-23 08:24] ntkoopman opened #46 "Custom error page with hostname-rewrites / i18n"
Both examples rewrite the path to prefix some data, but it doesn't seem to work for error pages (both `404.js` and `_error.js`). Is there any way around this without custom handling in getServerSideProps?

[2021-11-23 09:54] LuckeeDev opened #47 "TypeError in jwt auth example"
The jwt-authentication throws this error and doesn't start.
[code]
I also opened a [discussion](https://github.com/panva/jose/discussions/331) on the jose repo because the issue happens also when implementing the code in my repo.

[2021-11-23 10:14] LuckeeDev commented on #47
Seems like it was an issue that was solved with `v12.0.4` ([source](https://github.com/panva/jose/discussions/331#discussioncomment-1686483)). Will open a PR later to solve this.

[2021-11-23 21:40] #47 closed

[2021-11-25 14:21] JohnAllen opened #49 "I can have multiple custom domains using host-rewrites, correct?"
Just want to make sure. There is an emphasis on sub-domains in the docs and example. And I do see multiple custom domains. But there is a single root domain in the `.env` file, and I don't really want a root domain, I just want multiple root/main/host names that are related, but different.

[2021-11-25 14:24] JohnAllen commented on #49
There's also this line in the README:

[2021-11-25 18:17] remorses opened #50 "`_middleware.js` example without Next.js"
Is there an example of using `_middlware.js` wihout Nextjs?

My use case is to use `_middlware.js` as a reverse proxy, the problem of using nextjs is that `_middlware.js` won't reroute anything with path starting with `/_next`

[2021-11-27 22:55] steven-tey commented on #49
Hey @JohnAllen! Steven here, creator of the hostname rewrites example! What do you mean by "I just want multiple root/main/host names that are related, but different"?

To clarify, the `ROOT_URL` is basically the URL that you want to use for all your subdomains. For example, take Substack as an example – `substack.com` is the `ROOT_URL` and that will be used for all the subdomains that users get (

[2021-11-28 13:33] JohnAllen commented on #49
Thanks for the response @steven-tey!

I want to have multiple domains/hostnames use the same codebase, essentially. Similar sites sharing code but are different, mostly for geographic & SEO purposes. So I do not want many subdomains. I want many hostnames. I am wondering if this host-rewrites approach is the best way to do it and what alternatives there are.

I get the "platform" example like Subs

[2021-11-28 18:51] leerob commented on #50
Hey! We’re working on adding some examples for this. Middleware does indeed work with any framework, or just vanilla HTML, by placing the _middleware file in your root directly (or for framework authors, using the [File System API](https://vercel.com/docs/file-system-api)).

[2021-12-02 10:28] JohnAllen commented on #49
I mostly figured it out. Still trying to figure out how to dev with multiple sites on localhost using getStaticProps and getStaticPaths

[2021-12-02 10:53] ardaerzin commented on #45
we were planning on building a middleware with this functionality, but we are blocked by this issue. on local it works as expected/advertised

[2021-12-05 15:22] brycewray commented on #50
Am I correct in assuming this is unlikely to be addressed until 1Q 2022 due to the upcoming year-end holidays? Just curious. TIA for any such info.

[2021-12-06 15:03] moinulmoin opened #55 "Unhandled Runtime Error, incompatible-href-as"
**Unhandled Runtime Error**
Error: The provided `as` value (/) is incompatible with the `href` value (/_sites/[site]). Read more: https://nextjs.org/docs/messages/incompatible-href-as

https://github.com/vercel/examples/tree/main/edge-functions/hostname-rewrites
**I just cloned this repo and tried to run it on my local and I am facing this error:**

![image](https://user-images.githubusercontent.c

[2021-12-07 14:48] moinulmoin commented on #49
@JohnAllen Hi, I am stuck with something. I have created an issue on it. Could you please take a look? thanks

[2021-12-07 14:59] JohnAllen commented on #55
I can't solve it without having the code. I know what it is about but not sure exactly where the error is.

[2021-12-07 15:00] #49 closed

[2021-12-07 15:02] moinulmoin commented on #55
I just simply followed the steps which are in readme.md then I am getting this error. Could you please give a check now by following steps? thanks

[2021-12-07 20:14] jonspark commented on #55
I'm coming up with the same issue with a fresh project based on the example. This line is the only reference to a `href="/"` https://github.com/vercel/examples/blob/ec0cfc9bb150380683010d6c5e14dbadadd31c0a/edge-functions/hostname-rewrites/pages/_sites/%5Bsite%5D/index.tsx#L28

There's a similar issue if you visit the About page but the value is `/about`.

<img width="1261" src="https://user-images

[2021-12-08 14:04] tfcb93 opened #57 "A/B Testing with Google Optimize project does not recognize Analytics"
While trying to use [this example](https://github.com/vercel/examples/tree/main/edge-functions/ab-testing-google-optimize), and following the steps on optimize, it does not recognize my Analytics tag

![image](https://user-images.githubusercontent.com/6901304/145220013-cb522bea-b9a8-48a7-8a2d-362e9bc04152.png)
The image says that "We found problems with the Optimize installation on this page" and

[2021-12-08 14:19] StitiFatah commented on #55
Same here, but only in certain conditions :

- Dev Server + exported getStaticProps : **no problem**
- Dev Server + no getStaticProps : *same error as OP's*
- Prod Server : **no error whether using dev or prod server**

[2021-12-08 15:53] StitiFatah opened #58 "Is it possible to get query paramaters with useRouter() when rewriting with _middleware.ts ?"
When rewriting through `next.config.js` as explained here https://nextjs.org/docs/api-reference/next.config.js/rewrites it was possible to get query parameters from `useRouter().query` but when using rewrites via _middleware.ts with `NextResponse.rewrite(path)` as shown in this example https://github.com/vercel/examples/blob/main/edge-functions/hostname-rewrites/pages/_middleware.ts `useRouter().q

[2021-12-10 15:35] moinulmoin commented on #55
@JohnAllen Could you please help us, man? thank you

[2021-12-10 15:39] JohnAllen commented on #55
Just change the value of that. What have you tried? Remove it altogether.

[2021-12-10 16:30] StitiFatah commented on #55
I don't think it has anything to do with the href, I don't have any <Link/> or <a/> in my code.

[2021-12-12 19:51] moinulmoin commented on #55
@JohnAllen ain't you maintaining this example repo?

[2021-12-12 20:19] JohnAllen commented on #55
LOL what makes you think that? Hahahahah

[2021-12-12 20:27] JohnAllen commented on #55
Excellent usage of "ain't" as well.

[2021-12-13 06:12] moinulmoin commented on #55
Haha, don't know. I thought you were maintaining this example repo. My bad! then where are official authors/maintainers? we need help regarding this issue 😣

[2021-12-13 15:56] StitiFatah commented on #55
I have created a new issue on NectJs repos https://github.com/vercel/next.js/issues/32446

[2021-12-14 00:20] balazsorban44 commented on #55
To whom it may concern, please keep the discussion to the point!

[2021-12-21 14:52] leerob opened #62 "Update basic auth example to store to cookies"
Nice idea here https://gist.github.com/mtt87/cb9f36665165112468b92aa9fb470c7e

[2021-12-22 15:48] javivelasco commented on #45
Just a heads up we are discussing what the solution for this would be, we are shipping a solution soon.

[2022-01-05 08:57] gunnartorfis opened #65 "i18n geo usage with next-i18next & Next's built in internationalized routing"
I'm trying to follow the example within the i18n folder but am running into some issues since my requirements are a bit different.

How our use case differs from the example:
- We still want to use next-i18next and store our translations in JSON files.
- We want to use different paths for different locales like the behavior is when using Next's built-in Internationalized Routing, i.e. when user is

[2022-01-05 09:29] gunnartorfis commented on #65
Also let me know if you'd want this issue to be posted on Stackoverflow or the main Nextjs repo.

[2022-01-06 11:33] ptrhck commented on #50
Any news on this topic?

[2022-01-11 05:49] akinwol commented on #55
@StitiFatah @moinulmoin  it's because you don't have corresponding mock data simply adding this to the mock data will solve
`
 {
    name: 'Site 4',
    description: 'Host One',
    subdomain: 'hostname-1',
    customDomain: null,
  },
`

[2022-01-11 10:57] StitiFatah commented on #55
Hey mate, having it working without adding the corresponding data is the whole the point of the issue, this piece of code

[code]

Should return in the browser `NewPage subdomain_used`  whether or not the subdomain is in the mockDB. If it  is already in the mockDB and the path has already been generated generated it's already fine else `fallback:true` or `fallback:"blocking"` should play their rol

[2022-01-11 11:18] StitiFatah commented on #55
Hi again, the issue is solved for me and everything is working with `fallback:true` and even with CSR when using the lats canary version. #32446

[2022-01-12 16:39] remorses commented on #50
For anyone trying to use `_middleware.js` without next i am going to list some findings that may be useful:
- you must have a `package.json` file on root too or it won't work.
- Another cool thing to know is that you can also use `_middleware.ts` (using typescript) without any configuration because vercel bundles the _middleware file with esbuild on deployment
- if you are trying to use `NextRespo

[2022-01-13 13:23] brycewray commented on #50
@remorses Although this doesn't eliminate the need for non-Next documentation from Vercel, it nonetheless is interesting and useful. Thanks!

[2022-01-13 17:00] leerob commented on #50
We're still working on it - apologies for the delay.

[2022-01-16 16:46] brycewray commented on #50
@remorses Just as a starter for those of us not all that into Next 😄 , how would you adjust the following `_middleware.ts` code from the fairly simple example, https://github.com/vercel/examples/tree/main/edge-functions/add-header ? In particular, the part of **each** of the examples that throws me is always the `import` statement in the top part, since that statement and the subsequent use of `Ne

[2022-01-16 16:55] remorses commented on #50
Instead of NextRequest you have to use Request, which is a [javascript built in](https://developer.mozilla.org/en-US/docs/Web/API/Request)

To migrate to a simple request, you can see how `NextRequest` is implemented [here](https://github.com/vercel/next.js/blob/c497b3a5ff3199967f476323b9d2287f97ecbdea/packages/next/server/web/spec-extension/request.ts)

[2022-01-17 09:57] ptrhck commented on #50
@brycewray Would be great if you can share your code once implemented!

[2022-01-17 11:35] brycewray commented on #50
@ptrhck I haven't yet been able to make anything (i.e., that works). While @remorses provided valuable info, there are just too many other items that I'm not savvy enough to "translate" from Next to non-Next. Sorry!

[2022-01-21 16:04] needforspeed opened #83 "write EPROTO in geolocation example"
I created app with the command

[code]

Then start it with `npm run dev` in the my_project_name directory

When I hit the localhost:3000, I see the error in console
[code]

node version: v16.13.2
npm version: 8.1.2

[2022-01-29 01:28] leerob commented on #19
I have a WIP version going here for Next.js https://github.com/leerob/leerob.io/pull/431

[2022-01-31 16:24] icyJoseph opened #115 "Hostname rewrites, triggers relative URL warnings"
This [example](https://github.com/vercel/examples/blob/main/edge-functions/hostname-rewrites/pages/_middleware.ts), seems to be no longer recommended, because of this PR, https://github.com/vercel/next.js/pull/33410.

Is there any way to still enforce the rewriting behavior?

[2022-01-31 16:32] icyJoseph commented on #115
Odd as it might be returning `return NextResponse.rewrite(new URL('/_sites/' + site, request.url))` does the trick, and doesn't cause infinite redirects.

Source: https://nextjs.org/docs/messages/middleware-relative-urls

[2022-01-31 16:32] #115 closed

[2022-02-01 08:47] Schniz commented on #45
Hey @alexliebler! We fixed the issue:

* https://github.com/vercel/examples/pull/117
* https://github.com/vercel/next.js/pull/33725

new deployments that delete query params (like our example) will work too

[2022-02-01 11:54] sgharms opened #119 "'logging' example is not provided; no pattern provided"
Hello,

The https://nextjs.org/docs/middleware#examples page suggests that there are number of examples of various types in this repo

[code]

all point to the same resource:

https://github.com/vercel/examples/tree/main/edge-functions

Keying in on **Logging**, searching the Readme for the string `oggi` yields no match. Similarly `ack` through the repo for `/oggi/i` and you will only find a menti

[2022-02-01 12:59] leerob commented on #45
Thank you @Schniz ❤️

[2022-02-01 12:59] #45 closed

[2022-02-09 13:29] dapptain commented on #50
Any update on documentaion for non-nextjs projects. All the above is helpful, but something a bit more formal would be much appreciated.

[2022-02-14 13:38] frandiox commented on #50
Alright, looks like it works when using `middleware-manifest.json` instead of `functions-manifest.json`, which is what `next build creates.

[2022-02-15 18:30] webberwang commented on #49
For `[custom-domain-1.com](https://custom-domain-1.com/) (custom domain, maps to [subdomain-1.vercel.sh](https://subdomain-1.vercel.sh/))`

What does the owner of `https://custom-domain-1.com/` have to change in terms of DNS records to point to `subdomain-1.vercel.sh`?

[2022-02-18 11:07] oswaldoacauan commented on #119
I had a very frustrating evening yesterday trying to find a simple logging middleware example. The docs pointing nowhere was not very helpful also.

I see this as a basic feature for a framework that is to be production ready same goes for Telemetry which there is no examples to be found.

[2022-02-18 14:40] oswaldoacauan commented on #119
@okbel thanks for the update 🙏🏻 . Is there any estimated date for the logging, telemetry and instrumentation examples?

[2022-02-18 20:14] leerob commented on #119
https://github.com/vercel/examples/pull/156

[2022-02-19 18:29] okbel opened #157 "Starterkit using nextjs-nextauth-prisma-planetscale-trpc"
src: https://twitter.com/hybrid_alex/status/1495053117687222275?s=20&t=84SfRQMUqGweU-ihrGrm7w

[2022-02-19 18:30] okbel commented on #157
cc @alexcarpenter

[2022-02-21 18:19] gbibeaul commented on #19
👋 I'll take this over and add to @leerob's example making a more complete on in this repo! Should get releasd within 5-10 adys

[2022-02-22 13:15] sgharms commented on #119
I think @leerob has offered something formidable, and it is definitely an improvement that should be included; however, for simplicity’s sake and to establish a general pattern, I’d like to see something where the log file is written on the same machine as the next instance.

I’m wondering if we can squint and see the Vercel business model: if calls are processed on lambdas, there’s no local persi

[2022-02-22 15:25] leerob commented on #119
This isn't a pattern we want to advocate for, whether you're running serverfull or serverless.

Next.js works open-source, on whatever infra you provide, so it's not really about Vercel's serverless infra - more so that when we talk to companies building with Next.js, they aren't persisting logs to a local file, but rather ingesting them into some logging system 👍

[2022-02-22 20:05] ValentinH commented on #119
Talking about ingesting them, we are facing issues with `winston` not being able to run in the Edge runtime. Is it a known issue? What logger do you recommend for logging in middlewares?

[2022-02-23 14:03] sgharms commented on #119
@ValentinH

We were unable to log (locally) in the middleware as `fs` is not available.

The PR suggests that `fetch()` is available.

For us, this meant using a custom server (in docs) to get this functionality. It’s discouraged by vercel as one loses some optimizations, but I didn’t see any other way to get local logging.

good news: the server code is fairly easy and the docs are solid.

[2022-02-23 14:06] ValentinH commented on #119
I've gone through the custom server path in the past but this time we are hosted on Vercel so we want to stay on the default setup. 😞

[2022-02-23 14:13] sgharms commented on #119
Seems like there is community desire for access to some/all of the node runtime in the middleware.

Having to `fetch() POST` just to get basic telemetry data seems unnecessarily complex.

[2022-02-23 21:46] arturenault opened #164 "Missing an example for using waitUntil() for metrics"
I'm trying to set up datadog tracing in my NextJS app. It seems like this should be possible with middleware, but I'm not finding an example for this.

The docs say: [```An example of why you would use waitUntil() is integrations with logging tools such as [Sentry](https://sentry.io/) or [DataDog](https://www.datadoghq.com/). After the response has been sent, you can send logs of response times, e

[2022-02-24 12:50] frandiox commented on #50
For anyone interested, I've made an example on how to deploy to Vercel Edge without Next.js: https://github.com/frandiox/hydrogen-vercel-edge
Demo: https://hydrogen-vercel-edge-frandiox.vercel.app/

As mentioned before, the key was using `middleware-manifest.json` instead of `functions-manifest.json`.
cc @leerob Perhaps this could be updated in the docs?

[2022-02-24 14:26] brycewray commented on #50
Nice!

(But requires Shopify, right? I think what most of us are seeking are examples that require **no** specific platform but, rather, are as vanilla as possible.)

[2022-02-24 14:41] edcrampin commented on #50
Thanks @frandiox, nice example using the File System API - that raises a good point that there are really two parts to this issue, I think what we need in this repo is an example of both:
- Middleware using the [File System API](https://vercel.com/docs/file-system-api#resources/middleware)
- Middleware with just a simple `_middleware.js`, with no need to play with the File System API

It seems lik

[2022-02-25 02:52] leerob commented on #50
I see you mentioned Hydrogen - what other frameworks are y'all wanting to use Middleware with? P.S. I'm still following along here 😄

[2022-02-25 21:33] brycewray commented on #50
Can’t answer for others, @leerob, but I just want as plain-vanilla JS as possible, for converting an existing CF Worker to work on Vercel. Since Edge already uses CF Workers, seems it wouldn’t be that hard, although I readily confess that I’m only guessing about that.

[2022-03-09 13:39] david-morris commented on #50
@leerob I'm using docusaurus, so I think that means static HTML.

[2022-03-09 16:39] david-morris commented on #50
@edcrampin could you share the repo you have for converting the basic password auth? That would be a great example to work from.  I'm having trouble understanding the various roots in the project, i.e., where the middleware should go.

[2022-03-10 17:36] tfcb93 commented on #57
Oh yeah! I kinda did a turnaround using the [ReactGA](https://github.com/react-ga/react-ga) library. I register Analytics using it and later use `ReactGA.ga('set', 'exp', cookie);` to register the cookie set-up by the middleware.

I also did not use the script below since I was having problems getting 2 experience IDs and this can discard your experience (kinda following https://developers.google.

[2022-03-11 16:08] gbibeaul commented on #19
Closing this as we merged the example:

Code: https://github.com/vercel/examples/tree/main/edge-functions/analytics
Deployed explainer: https://edge-functions-analytics.vercel.app/

[2022-03-11 16:08] #19 closed

[2022-03-15 15:54] jaredpalmer opened #191 "Update turborepo example w/ latest techniques"
- Add `type-check` script to pipeline and to `ui` and `app`
- Add `skipLibcheck` to `tsconfig/nextjs.json`
- Tweak `ui` to only use `tsc --noEmit` for typechecking
- Remove dev mode from `ui` and update its `package.json` to match basic example
- Leverage new `Ignore Build Command` on Vercel once turbo@1.1.7 ships w/`--dry=json`

[2022-03-17 04:27] DopamineDriven commented on #57
I do this in my repos for dealing with the datalayer. Make a Root index.d.ts, set `declaration: true` in the tsconfig, and --

[code]

now, the `dataLayer` will be recognized and by declaring the google.maps and gtag.js modules all of their typedefs are available for consumption globally with full Intellisense, no imports required (I only have the `@types/*` version of either installed)

[2022-03-17 22:39] #191 closed

[2022-03-18 09:55] dapptain commented on #50
HELP! WE NEED DOCUMENTATION. ffs.....

[2022-03-18 13:14] brycewray commented on #50
With the understanding that there may not be bandwidth at Vercel to reproduce all the examples in non-Next form, maybe @leerob *et al.* could take just **one** of the simpler examples — such as [add-header](https://github.com/vercel/examples/tree/main/edge-functions/add-header) or [geolocation](https://github.com/vercel/examples/tree/main/edge-functions/geolocation) — and produce a non-Next form o

[2022-03-18 13:22] edcrampin commented on #50
@brycewray agreed, I've been planning to raise a PR to add something like this for a few basic examples using both the file system API and potentially also fully vanilla (single middleware file?) but struggling to get the time to look at this for now. The main nuisance to work around is how to organise middleware examples in this repo, and then also re-working the plop scripts to support this new

[2022-03-18 13:48] brycewray commented on #50
@edcrampin That all sounds great! It’ll be tremendously appreciated — **but** I humbly re-suggest :) that, in the meantime and in view of the team’s absolutely understandable time limitations, the starting effort be something utterly simple, quick, and dirty, even if it’s only a vanilla version of `middleware.js` for a given example but with everything else in that example left as-is.

[2022-03-18 15:26] edcrampin commented on #50
@brycewray sounds completely sensible - I'll see what I can do.

[2022-03-18 17:42] edcrampin commented on #50
@brycewray [here's an example](https://github.com/edcrampin/vercel-examples/tree/feature/extended-examples/edge-functions/create-react-app) of an `add-header` and `basic-auth` middleware using `create-react-app`. The `_middleware.ts` file is compiled by ESBuild at build time within Vercel so having TypeScript does not matter despite being a non-TS project. These two examples are currently deployed

[2022-03-18 17:44] brycewray commented on #50
@edcrampin Thanks very much! Will stand by for @leerob to weigh in on your question before trying.

[2022-03-19 14:41] brycewray commented on #50
@edcrampin At the risk of being a real pest, I wonder: must it be a TypeScript file? I hadn’t noticed until now that all the Edge Functions examples — including yours — are TypeScript. Wasn’t aware that mattered.

[2022-03-21 16:27] david-morris commented on #50
Thanks for the example, @edcrampin ! I feel that I've been able to rule out issues with the _middleware file and package.json thanks to that repo.

However, there appears to be some remaining issue, and I don't understand where to start analyzing this issue.  It appears that moving the _middleware file will switch this error between being a simple middleware and a filesystem API issue, but there's

[2022-03-24 14:00] charlax commented on #50
I'm also using the latest docusaurus and getting the same error `TypeError: Unexpected MODIFIER at 1, expected END`.

[2022-03-24 23:23] rvmelkonian opened #202 "Cors example: TypeError: Cannot read properties of undefined (reading 'set')"
I have added the ``cors.ts`` file to our project and added the middleware function to use cors, however when I run ``yarn dev`` I the following error

[code]
The error comes from the cors function inside cors.ts. We have not modified the code.

We are on NextJS 12.1.0. Any help here is apprecaited.

[2022-03-25 22:51] lfades commented on #202
Hi @rvmelkonian 👋

I just tested the demo locally and it's working for me, I don't know what exactly to look for, can you share more details about the issue? 🙏

Thank you!

[2022-03-26 20:27] lfades commented on #164
Hi @arturenault I hope you're doing well!

We have not decided yet about the best place to send analytics and middleware has some constraints around it, I'll come back to you in the future but for the moment I'll close the issue as analytics and logging won't be added using edge functions in our examples.

[2022-03-26 20:27] #164 closed

[2022-03-26 20:30] lfades commented on #119
Closing as per https://github.com/vercel/examples/issues/164#issuecomment-1079769085

To provider more context, Middleware can be executed multiple times for the same path, and we don't have a reliable way to send logs at 1. the right time and 2. while avoiding sending it twice.

The logging and analytics example have been removed until we have a more appropriate solution for it.

[2022-03-26 20:30] #119 closed

[2022-03-26 20:41] lfades commented on #21
The package is currently using https://www.npmjs.com/package/jose, if there are any issues with the current example please let us know and sorry for the late response!

[2022-03-26 20:41] #21 closed

[2022-03-26 20:44] arturenault commented on #164
Thanks, I'll look forward to that! We should probably change the docs then, at least, as it specifically mentions this as a use case for middleware.

[2022-03-26 20:45] lfades commented on #28
The example is about showing that it's possible to do i18n without using the Internationalized Routing feature of Next.js for the cases where it's lacking features required for your use case or other edge cases.

There's no timeline for it and I would not expect it soon, as you can run any custom code you want in _middleware there's a lesser need for abstractions.

[2022-03-26 20:45] #28 closed

[2022-03-26 20:46] #38 closed

[2022-03-26 20:49] lfades commented on #41
Hi @Manikanta-20 and sorry for the late response!

Your code looks good and unrelated to the error you're getting, I'm going to close the issue because it's been a while and hopefully you have sorted it out, otherwise let me know and I'll re-open it!

[2022-03-26 20:49] #41 closed

[2022-03-26 20:53] lfades commented on #55
Closing as per the comment above, if the issue still persists please comment again and it'll re-open it.

[2022-03-26 20:53] #55 closed

[2022-03-27 09:49] davodesign84 commented on #21
Hi @lfades  thank you for responding :) I did figure it out eventually :D

[2022-03-28 21:11] lfades commented on #164
@arturenault I opened a PR for that in the Next.js repo: https://github.com/vercel/next.js/pull/35622 (it's merged)

[2022-03-29 10:08] david-morris commented on #50
@edcrampin , could you share more about the settings you're using to deploy your example?

I assumed that it would use either the Other or Create React App preset, with the root directory `edge-functions/create-react-app/basic-auth` (for the basic auth example), and no other settings changed.

I've tried deploying it and it failed:
[code]

[2022-03-31 13:01] Joe-bookdepot opened #210 "Hostname Rewrite"
Hi,

When we rewrite the url from the top level middleware, the to [site]/page.jsx , the main logic will work from page.jssx
However, if we have  a second level of middleware at /[site]/[level2]/page.jsx with a middleware at /[site]/[level2]/_middleware.js.
The second middledware will not run because we are rewriting the url.

Is there any way to make the second middleware work?
Thank You

[2022-04-01 12:06] ptrhck commented on #50
I was also trying to deploy the example and now I am even getting the following:
![MicrosoftTeams-image](https://user-images.githubusercontent.com/26689889/161260037-56c14a72-1884-4a5b-a9e8-6f1a2776fbb8.png)
So, I am really wondering what the current status is here?

[2022-04-01 12:19] charlax commented on #50
Btw, I got the following response from Vercel support:

So I guess we just have to be patient :)

[2022-04-10 10:35] red2678 commented on #50
I feel like you guys putting examples of middleware implementations on your site, saying you work with all sorts of frameworks, only to not, is blatantly false advertising.

![image](https://user-images.githubusercontent.com/1896036/162613659-8f94abc5-37c1-43ed-b101-26a20ad68b7d.png)

![image](https://user-images.githubusercontent.com/91151091/162613486-a4183de7-06a9-4ad0-88c6-ab86cb5f62b5.png)

N

[2022-04-23 17:05] garciagomezluis opened #237 "Same item showing up multiple times on main page"
Searching for an example, I'm getting an extra item:

Example: "API Rate Limit"

![image](https://user-images.githubusercontent.com/3448431/164915497-9e76d5be-c9cb-47f7-b76e-4b7486aabd04.png)

Another item, example: "tweet"

![image](https://user-images.githubusercontent.com/3448431/164915563-ebbc58c2-ed54-4aaa-853d-f543f3ba9999.png)

And so on...

I couldn't find where this list is being rendered

[2022-04-23 17:07] garciagomezluis commented on #237
@goncy

[2022-05-10 17:57] williamli opened #249 "Ember starter template cannot be built out of the box"
![image](https://user-images.githubusercontent.com/179761/167692140-1c3bc2a5-6d86-4668-b141-839d46a34cc6.png)

Ember starter template at https://vercel.com/templates cannot be deployed.

[2022-05-10 18:06] williamli commented on #249
https://github.com/vercel/vercel/pull/7782

[2022-05-10 18:06] #249 closed

[2022-05-16 10:21] a6software commented on #202
At a guess you've done what I did, which is to take the example middleware and try to make it not do what the example does.

[code]

But we don't want to return a response directly here, we want to call through to the next thing in the chain - which in my case is my actual API endpoint, but I guess could be another middleware (not tried that yet).

[code]

That should fix it - at least it has done

[2022-05-31 09:08] #210 closed

[2022-06-03 13:02] Noitidart commented on #164
Aw dang, was looking for a place to do this. Looking forward to see when a solution is given for analytics like datadog.

[2022-06-09 06:45] Noitidart commented on #164
Does anyone else have any example of middleware where they do code before the api-route runs and then after the api-route finishes running?

[2022-06-16 16:00] elie222 opened #302 "Cannot use import statement outside a module"
When running the cdk example the following error occurs when running cdk bootstrap:

[code]

[2022-06-17 08:38] dominiksipowicz commented on #302
hey @elie222 can you provide more information about your setup:
1. output of `npx next info`
2. did you used `npm` or `yarn`?

Maybe @GuiBibeau @leerob can help here because this is the [AWS S3 image example](https://github.com/vercel/examples/tree/main/solutions/aws-s3-image-upload), right?

This PR #296 was also merged after your issue was created.

[2022-06-17 14:06] leerob commented on #302
It could be related to the version of Node.js you're using (guess).

[2022-06-23 04:35] DevCleverton commented on #62
Hello, dear! managed to solve? comment there close as resolved if yes 🎉✨

[2022-06-23 14:21] dominiksipowicz commented on #62
The gist combines cookies and basic authentication. If we want to keep things simple, I wouldn't combine the two options into one example, but maybe create a separate one like "cookie-based-access"

[2022-06-28 14:36] lofsigma commented on #302
I also ran into a similar issue use, tried both npm and yarn.
`    Operating System:
      Platform: darwin
      Arch: x64
      Node: 18.4.0
      npm: 8.12.1
      Yarn: 1.22.11
      pnpm: N/A
    Relevant packages:
      next: 12.1.6
      react: 18.2.0
      react-dom: 18.2.0`

[2022-06-29 21:57] Pnlvfx opened #354 "After more than one month than I use this code in production, I've now noticed that if someone use not to track (tested on Ubuntu 20.0.4 after that I have checked the box 'not to track' and on brave browser where there is and auto Adblock or something like this) the website will fail because every request after the Google analytics request will fail. Anyone know what to do?"

[2022-06-30 04:53] #354 closed

[2022-06-30 04:54] leerob commented on #354
This seemed like an accident (per the long title) – You might consider asking for assistance in the Next.js community discord help channel 😄

[2022-07-06 03:25] leerob commented on #50
Forgot to swing back here, but with the stable release of Middleware, it can now be used with all frameworks 😄

- https://github.com/vercel/examples/pull/320
- https://github.com/vercel/examples/pull/353

https://vercel.com/docs/concepts/functions/edge-middleware/quickstart

[2022-07-06 03:25] #50 closed

[2022-07-06 03:26] #62 closed

[2022-07-11 13:11] nachodevify opened #359 "Microfrontends example: Error: Cannot find module '@acme\design-system\tailwind'"
After running npm i & npm run dev, it throws
../../node_modules/@vercel/examples-ui/anchor/anchor.module.css
Error: Cannot find module '@acme\design-system\tailwind'

[2022-07-18 19:56] kkomelin opened #362 "Microfrontends example: Missing package version blocks the app build"
The project can't be build or start because the apps in the `apps` folder lack necessary dependencies, which are not installed on `yarn install` because of some missing package data.

1.
[code]

2.

[code]

3.

[code]

PR provided #363

[2022-07-28 07:54] ivansenic opened #370 "BotD example:"
Example: https://github.com/vercel/examples/tree/main/edge-functions/bot-protection-botd

When running the bot check the, middleware reports an error and does not perform a check:

[code]

[2022-07-28 09:05] ivansenic commented on #370
Due to https://github.com/vercel/next.js/issues/38963

[2022-08-01 20:19] Himself65 opened #373 "Other language example"
I'm looking for the python example from https://vercel.com/docs/runtimes, which I can `git clone` and run the code

[2022-08-18 06:41] veryserious commented on #302
Same issue with output of `npx next info`

`    Operating System:
      Platform: darwin
      Arch: arm64
      Version: Darwin Kernel Version 21.6.0: Sat Jun 18 17:07:22 PDT 2022; root:xnu-8020.140.41~1/RELEASE_ARM64_T6000
    Binaries:
      Node: 16.16.0
      npm: 8.11.0
      Yarn: 1.22.19
      pnpm: N/A
    Relevant packages:
      next: 12.2.4
      eslint-config-next: 12.2.4
      react:

[2022-08-18 21:01] AaronBeaudoin opened #377 "Add Build Output API Edge Middleware REWRITE Example"
Not much to say here. It'd be nice to have a Build Output API example of using Edge Middleware to **rewrite** the URL, including the query string.

[2022-08-26 14:05] jchen-vercel opened #383 "edge functions/feature-flag-optimizely not loading variations/sort flag"
It's possible I'm misunderstanding how this demo is supposed to work (https://github.com/vercel/examples/tree/main/edge-functions/feature-flag-optimizely), but when I go to the application I see products sorted alphabetically.  When I go in and delete `optimizely_visitor_id` cookie and reload the page I don't see any changes.  I tried deleting the cookie and reloading a few times, but did not noti

[2022-08-31 13:24] haydenpitout opened #385 "The DynamoDB / PutItemCommand example returns undefined"
- File: aws-dynamodb/pages/api/item.js
- Row: 28

`return res.status(201).json(Item);`

Returns `undefined` even on a successful insert

[2022-09-05 19:26] leerob commented on #385
Is the issue from `Item`? I believe it was working when I tested. Any more information?

[2022-09-06 12:19] haydenpitout commented on #385
Hi Lee

Yes, the [PutItemCommand](https://docs.aws.amazon.com/AWSJavaScriptSDK/v3/latest/clients/client-dynamodb/classes/putitemcommand.html) does not return the item's attribute values in the same operation, one has to use the [ReturnValues](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/WorkingWithItems.html#WorkingWithItems.ReturnValues) parameter to do so. For this reasons `I

[2022-09-09 18:24] jterribile opened #391 "The README.md file for the Personalization-Builder-io example contains and incorrect URL"
The clone and deploy section of the readme for the Personalization Builder IO example contains a URL that points to a different example.
See: https://github.com/vercel/examples/tree/main/edge-functions/personalization-builder-io#clone-and-deploy

[2022-09-10 06:27] rayliao opened #392 "Deploy aws-dynamodb get error: Could not load credentials from any providers"
CredentialsProviderError: Could not load credentials from any providers

[code]
should edit to:
[code]

[2022-09-10 18:40] mkayander opened #393 ""ESLint: TypeError: this.libOptions.parse is not a function" at aws-s3-image-upload"
`ESLint: TypeError: this.libOptions.parse is not a function` error shows up in WebStorm when opening TS files.
This is related to the newest ESLint version 8.23.0
It works fine with 8.22.0

[2022-09-10 18:49] mkayander commented on #302
Hey everyone. The issue is that AWS CDK typescript code requires a bit different tsconfig settings. You can find the details in the linked PR i just pushed.

[2022-09-10 18:50] mkayander commented on #393
The reliable solution for now is to just set `"eslint": "8.22.0"` in package.json. I provided this fix in the linked PR.

[2022-09-10 20:24] #302 closed

[2022-09-10 20:24] #393 closed

[2022-09-19 16:08] morinokami opened #400 "The fallback value used in the Prerender Functions does not match the specification"
According to [the Build Output API specification](https://vercel.com/docs/build-output-api/v3#vercel-primitives/prerender-functions/configuration), the value of `fallback` in `.vercel/output/functions/<name>.prerender-config.json` should be a string. However, the `fallback` value used in https://github.com/vercel/examples/blob/main/build-output-api/prerender-functions/.vercel/output/functions/blog

[2022-10-05 13:56] jsonpreet opened #419 "Somehow as per middleware setup my subdomain don't pick page from app directory"
Folder Structure
- pages
-- app
--- index.jsx
--- login.jsx
-- home
-- _sites
-- _app.js
-- index.js
-- login.jsx

I don't know why as per middleware setup (app.localhost:3000/login) login path won't pick page template from app directory.

[code]

[2022-10-17 17:31] suresh-kumar-ogilvy opened #427 "Dynamic slug is not available under sites"
Hi

If we create a file under _sites/[site]/[[...slug]].tsx getting the following error

A required parameter (slug) was not provided as an array in getStaticPaths for /_sites/[site]/[[...slug]]

getStaticPaths passed

 { params: { slug: '/home', site: 'subdomain-1' } },
  { params: { slug: '/home', site: 'site1' } },
  { params: { slug: '/home', site: 'site2' } }

We are trying to add dynamic rou

[2022-10-24 11:34] ErezSha opened #431 "pnpm new-example, for a solution, fails"
I'm trying to add an example, following the "adding a new example".
When running `pnpm new-example` I get:
[code]

[2022-10-27 17:07] gt-codes opened #434 "Microfrontends example encountering a build error when deploying"
Using the [clone button](https://vercel.com/new/clone?repository-url=https://github.com/vercel/examples/tree/main/solutions/microfrontends&project-name=microfrontends&repository-name=microfrontends) on the `microfrontends` example, I get a failed build deploying to Vercel

[code]

[2022-10-29 12:42] Thamasky opened #435 "OG Image generation dynamic example failing on Vercel"
I'm having issues with using dynamic images with the new **@vercel/og** package.

# Issue 1

When I run the example [vercel-og-next-js](https://github.com/vercel/examples/tree/main/edge-functions/vercel-og-nextjs), and try out  `api/dynamic-image?username=vercel` it works. However, when I change it to my own username `?username=thamasky` it's broken. Even though [https://github.com/thamasky.png](h

[2022-11-06 22:28] mquandalle commented on #164
Also curious what is the recommended solution to insert a record in a database for analytics without blocking the HTTP response. I tried log drains but it's really a mess to retrieve a simple Json object.

[2022-11-07 06:16] Noitidart commented on #164
@mquandalle it seems we can run dd-trace as discovered here - https://github.com/vercel/next.js/discussions/16600 - it links to - https://jake.tl/notes/2021-04-04-nextjs-preload-hack

[2022-11-07 10:00] cesine opened #447 "Lock examples to Next.js 12?"
There are a few breaking changes in Next.js 13 https://nextjs.org/docs/upgrading#upgrading-from-12-to-13
There are a few breaking changes in React 18 https://reactjs.org/blog/2022/03/08/react-18-upgrade-guide.html

We are finding that using the examples and the tutorials is quite a learning curve because we also have to do the codemode for `Link` components and other breaking changes in React 18.

[2022-11-07 10:12] cesine commented on #447
I found the work has already begun to update the examples to `canary` (my searches for `Next.js 13` didn't yield results, but if  look for canary, I can see the PRs https://github.com/vercel/examples/pulls?q=is%3Apr+canary)

[2022-11-07 10:12] #447 closed

[2022-11-08 05:26] jimhaakman opened #449 "How to create a custom CNAME"
Hi,

In the example for Vercel domains I see a domain named cname.platformize.com and not cname.vercel-dns.com. This made me think, how would I create a custom cname domain for my users? Thanks!

[2022-11-10 10:46] domeccleston commented on #435
@Thamasky Would you mind creating a new issue for Issue 2 and including steps to reproduce, including the code you're using and the URL? Thanks!

[2022-11-10 12:10] domeccleston commented on #392
Fixed by https://github.com/vercel/examples/pull/412: this can be closed

[2022-11-10 18:10] leerob commented on #392
Thank you!

[2022-11-10 18:10] #392 closed

[2022-11-10 18:10] #391 closed

[2022-11-10 18:22] #434 closed

[2022-11-14 14:29] cesine opened #454 "Unable to run microfrontends on Node 18"
# Steps to reproduce

Use the latest Node 18

[code]

Run pnpm dev

[code]

Observe SSL errors

[code]
# Workarounds

There are a couple of options to workarounds this:

1. Use Node 16 which doesnt have the ssl issues

2. Workaround it https://stackoverflow.com/questions/69394632/webpack-build-failing-with-err-ossl-evp-unsupported

3. Resolve to webpack 5, although this might also run into the `st

[2022-11-16 13:44] #435 closed

[2022-11-16 14:05] #431 closed

[2022-11-23 02:55] crimson-med opened #461 "Cannot find module jsx-runtime - web3-session template"
I followed the `web3-session` installation guide with:

[code]

I then setup my `.env`

Then proceeded to run

[code]

When I try to access: `http://localhost:3000` I get the following error:

[code]